@import "reset";
html{font-size:62.5%;}
html,body,.edit{
  width:100%;
  height:100%;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  position:relative;
  background:#fff;
}

.edit_top{
  width:96%;
  height:5.44rem;
  margin:0 2%;
  .edit_sp{
    color:#527EAF;
    border-color:#527EAF;
  }
  h2{
    color:#009FFF;
    font-size:.32rem;
    line-height:.78rem;
    margin-left:.16rem;
    span{
      float:right;
      width:.3rem;
      height:.3rem;
      border:1px solid #E4E4E4;
      color:#E4E4E4;
      text-align: center;
      line-height:.3rem;
      border-radius: 50%;
      margin-top:.24rem;
      margin-right:.3rem;
      font-size:.18rem;
    }
  }
  #text{
    width:100%;
    height:1.98rem;
    font-size:16px;
    border:1px solid #F6F6F6;
  }
  .upload_img{
    width:100%;
    height:2.68rem;
    .upload_file{
      height:100%;
    }
    .inputs{
      width:1.8rem;
      height:1.8rem;
      position:relative;
      opacity: 0;
      margin-top:.4rem;
    }
    label{
      width:1.8rem;
      height:1.8rem;
      position:absolute;
      margin-top:.4rem;
    }
    label span{
      display:block;
      width:1.8rem;
      height:1.8rem;
      line-height:1.8rem;
      text-align:center;
      font-size:24px;
      border:2px dashed #797979;
    }
    .up_uls li{
      position:relative;
      width:1.8rem;
      height:1.8rem;
      float:left;
      list-style:none;
      margin-top: .4rem;
      margin-right:.4rem;
    }
    .up_uls li img{
      width:1.8rem;
      height:1.8rem;
    }

  }
}
.publish{
  width:100%;
  height:2rem;
  position:relative;
  .pub_btn{
    display:block;
    width:60%;
    height:.72rem;
    background:#FF6666;
    color:#fff;
    border:none;
    position:absolute;
    left:50%;
    top:.66rem;
    margin-left:-2.06rem;
  }
}
.phone_cancel{
  width:95%;
  margin:.14rem auto;
  height:1rem;
  background:#fff;
  border-radius:10px;
  border:1px solid #C0C0C0;
  a{
    width:100%;
    display:block;
    font-size:.33rem;
    color:#3373D1;
    line-height:.99rem;
    text-align:center;
    font-weight:900;
  }
}
.mask{
  width:100%;
  height:100%;
  background:rgba(0,0,0,.5);
  position:absolute;
  left:0;
  top:0;
  display:none;
  .dialog{
    width:4.6rem;
    height:3.11rem;
    background:#fff;
    border-radius:10px;
    position:absolute;
    z-index:1000;
    left:50%;
    top:50%;
    margin-left:-2.3rem;
    margin-top:-1.55rem;
    .hover{
      background:#FF5253;
      color:#fff;

    }
    .dia_top{
      width:100%;
      height:2.23rem;
      border-top-left-radius:10px;
      border-top-right-radius:10px;
    }
    h3{
      font-size:.3rem;
      line-height:.7rem;
      text-align:center;
      width:100%;
    }
    p{
      width:80%;
      font-size:.28rem;
      margin:auto;
      line-height:.36rem;
    }
    .dia_ul{
      width:100%;
      height:.86rem;
      border-top:1px solid #E5E5E5;
      position:absolute;
      bottom:0;
      ul{
      width:100%;
      display:-webkit-box;
      li{
        -webkit-box-flex:1;
        border-right:1px solid #E5E5E5;
        width:50%;
        line-height:.86rem;
        text-align:center;
        font-size:.28rem;
        &:nth-of-type(2){
          border:none;
        }

      }
        li:nth-of-type(1).hover{
          border-bottom-left-radius:10px;
        }
        li:nth-of-type(2).hover{
          border-bottom-right-radius:10px;
        }

    }
    }
  }
}