@import "reset";
html{font-size:62.5%}
html,body{
  width:100%;
  height:100%;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  background:#fff;
}
#wx_container{
  width:100%;
  height:100%;
  display:-webkit-box;
  -webkit-box-orient:vertical;
}
.wx_header{
  width:100%;
  height:2.96rem;
  position:relative;
  .banner_Pic{
    width:100%;
    height:100%;
    img{
      width:100%;
      height:100%;
    }
  }
}

.wx_section{
  width:100%;
  height:100%;
  .signUp{
        width:100%;
        height:2.2rem;
        position:relative;
        background:#F6F6F6;
        .sign_up{
          outline: none;
          width:40%;
          height:.72rem;
          position:absolute;
          left:50%;
          margin-left:-20%;
          margin-top:.2rem;
          margin-bottom:.2rem;
          color:#fff;
          border:none;
          background:#ED6057;
          border-radius:5%;
          font-size:.28rem;
        }
        .wx_Sample{
            width:100%;
            height:1.08rem;
            position:absolute;
            top:1.12rem;
          .sample_ul{
            width:96%;
            height:.9rem;
            background:#fff;
            margin:auto;
            display:-webkit-box;
            li{
              width:24%;
              height:.9rem;
              -webkit-box-flex:1;
              margin-left:1%;
              a{
                float:left;
                font-size:.23rem;
                line-height:.45rem;
                color:#fff;
                width:100%;
                text-align:center;
                i{
                  display:block;
                  width:100%;
                }
                span{
                  display:block;
                }
              }

            }
            li:nth-of-type(1){
              margin-left:0;
            }
            li:nth-of-type(1),li:nth-of-type(3){
              background:#FF8584;
            }
            li:nth-of-type(2),li:nth-of-type(4){
              background:#FE6869;
            }
          }
        }
      }
      .wx_cont{
        width:100%;
        height:auto;
            .cont_ul{
              width:96%;
              margin:auto;
              li{
                width:100%;
                height:3.2rem;
                position:relative;
                margin-top:.18rem;
                a{
                  width:100%;
                  height:100%;
                  float:left;
                }
                h2{
                  position:absolute;
                  width:45%;
                  height:.46rem;
                  left:27.5%;
                  top:1.34rem;
                  color:#fff;
                  font-size:.44rem;
                  z-index:1;
                  text-align:center;
                  overflow: hidden;
                  font-weight: 900;
                }
                span{
                  position:absolute;
                  width:45%;
                  left:27.5%;
                  bottom:.82rem;
                  color:#fff;
                  font-size:.28rem;
                  z-index:1;
                  text-align:center;
                }
              }
            }
          }



}
.u_box{
  width:100%;
  line-height:50px;
  text-align:center;
  height:0;
  overflow:hidden;
}
.load{
  width:100%;
  line-height:50px;
  text-align:center;
  height:0;
  overflow:hidden;
}
.loading::before{
  content:"";
  width:15px;
  height:15px;
  border:2px solid #ccc;
  border-right:none;
  border-bottom:none;
  display:inline-block;
  border-radius:50%;
  margin:10px 5px 0;
  -webkit-animation:rotate 1s infinite linear;
}
@-webkit-keyframes rotate{
  from{
    -webkit-transform:rotate(0deg);
  }to{
     -webkit-transform:rotate(360deg);
   }
}
