html, body, .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

img {
  display: block; }

/*--------------pc->header------------------*/
.header {
  padding: 0 .85rem;
  background: #817771;
  position: relative;
  height: .81rem;
  display: -webkit-box;
  -webkit-box-align: center; }
  .header .nav {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: absolute;
    right: .85rem;
    top: .81rem;
    background: #817771;
    display: none; }
    .header .nav span {
      padding: 0 .25rem;
      display: block;
      color: #A3A3A8;
      border-right: 1px solid #7E7E7E;
      font-size: 9px; }
    .header .nav .border {
      border: none;
      display: -webkit-box;
      -webkit-box-align: center; }
  .header h1 {
    width: 3rem;
    height: .7rem;
    line-height: .7rem;
    background: #DBDADC;
    margin-left: 3px;
    text-align: center;
    color: #0F0F0F;
    font-weight: normal;
    margin-right: .5rem;
    font-size: .21rem; }
  .header h2 {
    padding: 0 .3rem;
    height: .7rem;
    line-height: .7rem;
    background: #DBDADe;
    position: absolute;
    right: .85rem;
    top: .07rem;
    display: none; }
  .header span {
    padding: 0 .25rem;
    display: block;
    color: #A3A3A8;
    border-right: 1px solid #7E7E7E;
    font-size: 9px; }
  .header i {
    background: url("../img/jianjiao.gif") no-repeat right;
    padding-right: .17rem; }
  .header .border {
    border: none;
    display: -webkit-box;
    -webkit-box-align: center; }
  .header em {
    margin: 0;
    margin-right: .05rem; }

/*----------pc->main-----*/
.main {
  padding: 0 .85rem; }

.bot {
  width: 100%;
  display: -webkit-box; }

.tit {
  width: 100%;
  height: .7rem;
  line-height: .7rem;
  color: #939399; }
  .tit .on {
    color: #1BA1E2; }

.m-left {
  width: 5rem;
  margin-right: .43rem; }

.box-pic {
  width: 100%;
  margin-bottom: .16rem; }

.pic {
  width: 100%;
  display: -webkit-box;
  overflow: hidden; }
  .pic span {
    display: block;
    -webkit-transition: all .3s;
    width: 100%; }
  .pic img {
    width: 100%; }

.slide {
  padding: .05rem 0;
  display: -webkit-box; }
  .slide ul {
    -webkit-box-flex: 1;
    display: -webkit-box;
    background: #BBBBBB; }
  .slide li {
    -webkit-box-flex: 1;
    padding: .02rem;
    width: 14%;
    border-right: 1px solid #fff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center; }
    .slide li img {
      width: 100%; }
  .slide .on {
    border: 1px solid red; }

.s-last, .s-next {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin-left: .03rem;
  margin-right: .03rem; }

.photo {
  width: 100%; }

.p-tit {
  width: 100%;
  padding: .2rem 0;
  display: -webkit-box;
  -webkit-box-align: center; }
  .p-tit span {
    margin-left: .03rem; }

.p1, .p2 {
  width: 100%; }
  .p1 img, .p2 img {
    width: 100%;
    float: left;
    margin-bottom: .24rem; }

.m-right {
  -webkit-box-flex: 1; }
  .m-right h2 {
    width: 100%;
    heigth: .44rem;
    font-weight: normal; }
    .m-right h2 span {
      color: #404752; }

.usd {
  width: 100%;
  height: .86rem;
  line-height: .86rem; }

.buy {
  width: 100%;
  padding: 0 .11rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .buy h3 {
    width: 100%;
    padding: .06rem 0;
    font-size: .11rem;
    font-weight: normal; }
  .buy p {
    margin-bottom: .05rem; }
    .buy p span {
      padding: .1rem;
      display: inline-block;
      height: 100%;
      background: #1BA1E2;
      font-size: .11rem;
      color: #fff;
      margin-right: .05rem;
      border-radius: 5px; }

.shar {
  width: 100%;
  padding: .1rem 0;
  display: -webkit-box;
  -webkit-box-align: center; }

.info {
  width: 100%;
  margin-bottom: .24rem; }
  .info p {
    width: 100%;
    padding: .06rem 0;
    font-size: .11rem; }

/*------tel->footer------*/
@media screen and (max-width: 1000px) {
  .header span {
    display: none; }

  .header .border {
    display: none; }

  .header h2 {
    display: block; }

  .container .footer {
    display: flex;
    -webkit-flex-wrap: wrap; }
    .container .footer div {
      width: 50%;
      padding: 0; } }
@media screen and (max-width: 800px) {
  .header span {
    display: none; }
    .header span i {
      padding-right: .3rem; }

  .header .border {
    display: none; }

  .header h2 {
    display: block; }

  .bot {
    -webkit-box-orient: vertical; }

  .m-left, .m-right {
    width: 100%; }

  .container .footer {
    display: flex;
    -webkit-flex-wrap: wrap; }
    .container .footer div {
      width: 100%;
      padding: .3rem 0; }
    .container .footer p, .container .footer span {
      text-align: center; } }
/*-------------------------pc->footer-------------------------*/
.footer {
  padding: .85rem;
  height: auto;
  margin-top: .24rem;
  background: #3E4645;
  display: -webkit-box;
  position: relative; }
  .footer div {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    padding-left: .44rem; }
    .footer div p {
      width: 100%;
      padding-bottom: .28rem;
      color: #fff; }
  .footer .dv {
    -webkit-box-flex: 0;
    width: 3.3rem; }
  .footer span {
    width: 100%;
    padding-bottom: .1rem;
    color: #B1B1B1;
    display: block; }
  .footer input[type=text] {
    -webkit-box-flex: 1;
    height: 30px;
    display: inline-block;
    border: 0;
    border-radius: 5px;
    font-size: .11rem;
    text-indent: .1rem;
    margin-right: .05rem;
    padding: 0;
    margin-top: -.17rem; }
  .footer input[type=button] {
    padding: .08rem .05rem;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: .11rem;
    background: none;
    color: #B1B1B1;
    margin-top: -.17rem; }
  .footer .foot {
    width: 100%;
    position: absolute;
    bottom: .23rem;
    left: 0;
    text-align: center;
    color: #B1B1B1; }

/*# sourceMappingURL=style.css.map */
